<div>
    <h1>Inicio de sesion</h1>
    <form id="cookiesForm">
        <label>Nombre</label>
        <input type="text" name="name"/>
        <br>
        <label>Correo Electrónico</label>
        <input type="email" name="email"/>
        <input type="submit"/>
    </form>
    <button onclick="getCookie()">Obtener Cookie</button>
</div>
<script src="/js/login.js"></script>