<div>
  <form id="resetPasswordForm">
    <h1>Cambio de contraseña</h1>
    <label for="newPassword">Nueva contraseña</label>
    <input type="password" name="newPassword" id="newPassword" required/>
        <label for="newPassword2">Nueva contraseña</label>
    <input type="password" name="newPassword2" id="newPassword2" required/>

    <input type="submit" />
  </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>